// Icons
//
// .icon--masLogo       - .png
// .icon--youtube       - \e605
// .icon--facebook      - \e61c
// .icon--twitter       - \e608
// .icon--tick          - \e609
// .icon--externalLink  - \e619
// .icon--doc           - \e611
// .icon--pdf           - \e602
// .icon--open          - \e603
// .icon--closed        - \e0012
// .icon--close         - \e60A
// .icon--desktop       - \e603
// .icon--speech        - \e609
// .icon--search        - \e00E
//
// Styleguide icons

// .icon {
//   background-color: transparent;
//   line-height: 1;
//   font-family: 'icon-font';
//   font-weight: normal;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   vertical-align: middle;
// }


.icon {
  background-repeat: no-repeat;
  background-size: 78% auto;
  background-position: center center;
  width:$baseline-unit*6;
  height:$baseline-unit*6;
  display: block;

  &:after {
    content:'';
    min-width: 1em;
    min-height: 1em;
  }
}
