.icon--action-plan {
	background-image: image-url('icon/action-plan.png');
}
.icon--article {
	background-image: image-url('icon/article.png');
}
.icon--back {
	background-image: image-url('icon/back.png');
}
.icon--close {
	background-image: image-url('icon/close.png');
}
.icon--collapse {
	background-image: image-url('icon/collapse.png');
}
.icon--cross {
	background-image: image-url('icon/cross.png');
}
.icon--expand {
	background-image: image-url('icon/expand.png');
}
.icon--external {
	background-image: image-url('icon/external.png');
}
.icon--facebook {
	background-image: image-url('icon/facebook.png');
}
.icon--file-pdf {
	background-image: image-url('icon/file-pdf.png');
}
.icon--file-word {
	background-image: image-url('icon/file-word.png');
}
.icon--info {
	background-image: image-url('icon/info.png');
}
.icon--link {
	background-image: image-url('icon/link.png');
}

.mas-logo-small,
.icon--mas-logo-small {
	background-image: image-url('icon/mas-logo-small.png');
}
.icon--phone {
	background-image: image-url('icon/phone.png');
}
.icon--print {
	background-image: image-url('icon/print.png');
}
.icon--search {
	background-image: image-url('icon/search.png');
}
.icon--share {
	background-image: image-url('icon/share.png');
}
.icon--tick {
	background-image: image-url('icon/tick.png');
}
.icon--tool {
	background-image: image-url('icon/tool.png');
}
.icon--translate {
	background-image: image-url('icon/translate.png');
}
.icon--twitter {
	background-image: image-url('icon/twitter.png');
}
.icon--video {
	background-image: image-url('icon/video.png');
}
.icon--youtube {
	background-image: image-url('icon/youtube.png');
}
